/* .slider-for {
  display: flex;
  flex-direction: row;
  width: 64%;
} */
.slider-for img {
  height: 250px;
  border: 1px solid black;
  background-color: black;
  margin: 39px;
  width: 350px;
}
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: dimgrey;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
h2,
h4 {
  color: black;
}
.years {
  font-size: 4px;
}
.slide-wrapper {
  width: 84%;
  overflow-x: hidden;
  align-items: center;
}
.slider-nav-thumbnails {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
}
p {
  width: 70%;
}
h2 {
  margin: 0;
}
.slick-list {
  width: 80vw;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-content {
  display: flex;
  flex-direction: row;
}
.main-text {
  display: flex;
  flex-direction: column;
}
.main-text p {
  width: 90%;
}
.secondary-content p {
  width: 80%;
}

.slider-for img {
  height: 200px;
  width: 300px;
  margin-left: 0;
  margin-top: 0;
}
.video-slider .slider-for {
  width: 90%;
}
.slick-initialized .slick-slide {
  flex-direction: column;
}

.slider-nav-thumbnails img {
  width: 70px;
  height: 70px;
  white-space: nowrap;
  text-align: center;
  border: 1px solid black;
  background-color: black;
}

.video-carousel--thumbnail {
  line-height: 0px;
  margin-right: 5em;
  position: relative;
}
.video-carousel--thumbnail:after {
  content: "";
  width: 8em;
  /* size of your margin */
  border-bottom: 2px solid;
  position: absolute;
  top: 35px;
}
:after {
  left: 100%;
}
:before {
  right: 100%;
}

.video-carousel--thumbnail:first-of-type:before,
.video-carousel--thumbnail:last-of-type:after {
  display: none;
}
.slick-prev {
  left: 20%;
  background: red;
  z-index: 1;
}
.slick-next {
  right: 20%;
  background: red;
}
.slick-center img {
  height: 80px;
  width: 80px;
  transition: all 0.2s ease-in;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: red;
}

.thumbnail-description {
  display: flex;
  flex-direction: column;
}
.thumbnail-description p {
  width: 100%;
  font-size: 15px;
}
.slide-wrapper {
  width: 70vw;
}

.slider-for {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 64%;
}

.slide-wrapper {
  width: 70%;
}

.slide-wrapper {
  width: 84%;
}

.secondary-content p {
  width: 95%;
}
.slide-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.pagingInfo {
  padding-right: 50px;
}

/* Media query  */
@media only screen and (max-width: 400px) {
  body {
    display: flex;
    justify-content: center !important;
  }
  .main-text {
    width: 100% !important;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .slider-for {
    padding-left: 10px;
    width: 57%;
  }

  @media only screen and (max-width: 600px) {
    .slick-list {
      width: 100vw;
    }
    .slick-center img {
      margin-left: 30px;
    }

    .slider-for img {
      display: none;
    }

    .thumbnail-description p {
      display: none;
    }

    .main-text p {
      width: 100%;
    }
    .main-content {
      display: flex;
      flex-direction: column;
    }
    .slide-wrapper {
      justify-content: left;
    }

    .slider-nav-thumbnails {
      margin-bottom: 20px;
    }
    .slider-nav-thumbnails img {
      height: 160px;
      width: 60vw;
    }
    .video-carousel--thumbnail:after {
      content: "";
      /* size of your margin */
      border-bottom: 2px solid;
      position: absolute;
      top: 50%;
    }
    :after {
      left: 100%;
    }
    :before {
      right: 100%;
    }
  }
  }
  @media only screen and (max-width: 1000px) {
   
  .slide-wrapper {
    padding-right: 100px;
  }
  .slider-for img {
    height: 100px;
    width: 40%;
  }

  .main-text {
    width: 60%;
  }
}
